/* .wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
} */
body {
  /* ニュースエリアと同じ色（またはベージュ #e6e2d7）にする */
  background-color: rgb(222, 220, 220);
}

.header_area {
  width: 100%;
  height: 100vh;
  writing-mode: vertical-rl;

  background-image: url(../img/mainvisual-pc.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  padding: 5rem 5rem;
  position: relative;

  border: 20px solid red;
  margin-bottom: 18rem;
}

.header_title {
  margin-left: 10rem;
}

.online_absolute {
  position: absolute;
  left: 5rem;
  bottom: 5rem;

  background-color: aqua;
}

.nav_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.navi_link {
  display: block;
  color: white;
  margin-right: 0.1rem;

  justify-content: left;
}

/* ┌─────────────────────────────────────────┐
   │ ニュース                        │
   └─────────────────────────────────────────┘ */

.news_area {
  width: 100%;
  margin-bottom: 30rem;
  background-color: rgb(222, 220, 220);
  writing-mode: vertical-rl;
}

.title_news {
  display: block;
  font-size: 4.5rem;
}

.title_notice {
  display: block;
  font-size: 10rem;
  font-weight: bold;
}

.news_List {
  margin-top: 10rem;
  margin-right: 10rem;
}

.news_part {
  border-right: 0.1rem solid black;
  margin-right: 5rem;
}

/* ┌─────────────────────────────────────────┐
   │ 新しい価値の創造                        │
   └─────────────────────────────────────────┘ */

.concept_area {
  width: 100%;
  padding-right: 5rem;
  margin-bottom: 10rem;
  writing-mode: vertical-rl;
}

.ja {
  font-size: 6rem;
  font-weight: bold;
}
.en {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.img {
  margin-top: 10rem;
  position: relative;
}

.text {
  top: 5rem;
  left: 5rem;
  font-size: 3rem;
}

.text_box {
  position: absolute;
  bottom: 3rem;
  left: -2rem;

  width: 36rem;
  height: 13rem;
  background-color: #f9e90699;
}
